@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to bottom, #eb1927, #b4030e, #6e090f);
    background-attachment: fixed;
}

main {
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(73, 1, 1, 0.521);
    width: 1500px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #6b030a;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(53, 1, 1);
}

h2 {
    color: #b4030e;
}

p {
    text-align: justify;
}